#bottom{
  margin-top: 5px;
  padding:5px;
  color: #fff;
  background: #c9302c;
}
#side{
  margin-top: 5px;
  padding:5px;
  color: #fff;
  background: #777777;
}
html, body { /* ensure the available document space is the full height of the viewport */
  height:100%;
  padding:0;
  margin:0;
}
.container {
  overflow: hidden;
  position: relative;
  height:100%; /* <-- make the containing element full height */
}
.leftwrapper {
  background-color: #0b7582;
  bottom: 0;
  float: left;
  position: absolute;
  text-align: center;
  top: 0;
  width: 8%;
  bottom:0; /* <-- anchor the element to both the top and the bottom of the viewport */
}
.rightwrapper {
  float: left;
  margin-left: 8%;
  width: 92%;
}
#bottom{
  margin-top: 5px;
  padding:5px;
  color: #fff;
  background: #c9302c;
}
#side{
  margin-top: 5px;
  padding:5px;
  color: #fff;
  background: #777777;
}
html, body { /* ensure the available document space is the full height of the viewport */
  height:100%;
  padding:0;
  margin:0;
}
.container {
  overflow: hidden;
  position: relative;
  height:100%; /* <-- make the containing element full height */
}
.leftwrapper {
  background-color: #0b7582;
  bottom: 0;
  float: left;
  position: absolute;
  text-align: center;
  top: 0;
  width: 8%;
  bottom:0; /* <-- anchor the element to both the top and the bottom of the viewport */
}
.rightwrapper {
  float: left;
  margin-left: 8%;
  width: 92%;
}

// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
.panel-default{
  margin-top: 30px;
}
